@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Explora&family=Grandiflora+One&family=Hedvig+Letters+Serif:opsz@12..24&family=Lora:ital@0;1&family=Roboto+Mono:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(170, 145, 145); 
}

.navbar {
    background-color: rgb(141, 99, 99);

}

.navbar-brand {
    font-family: Explora, sans-serif;
    font-size: 60px;
}

/* HOME PAGE */

.card-link {
    font-family: Grandiflora One, sans-serif;
    text-decoration: none;
    padding: 10px;
}

.read-more {
    font-family: Lora, sans-serif;
}

h5 {
    font-family: Grandiflora One, sans-serif;
}

.text-white {
    font-family: Grandiflora One, sans-serif;
}

.card {
    margin-top: 50px;
    background-color: transparent;
    border: none;
}

/* CONCLUSION */

.text{
    
}

/* DASHBOARD */

ul {
    list-style-type:none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: rgb(141, 99, 99);
}

.text-upcoming {
    margin-top: 150px;

}

/* MEDIA QUERY */

@media only screen and (max-width: 500px) {
    .women-img {
        visibility: hidden;
    }

    .img-2 {
        margin-top: -700px;
    }
}