{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="dashboard-home">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="text-center text-uppercase text-white p-5">Menu</h1>
                <hr class="text-white">
                <ul class="text-center text-white h3 lh-lg mt-5">
                    <li>
                        <a href="{{'books'}}" class="text-uppercase">Book Recommendation</a>
                    </li>
                    <li>
                        <a href="{{'fashion'}}" class="text-uppercase">Modest Fashion</a>
                    </li>
                    <li>
                        <a href="{{'skincare'}}" class="text-uppercase">Skincare</a>
                    </li>
                    <li>
                        <a href="{{'parenting'}}" class="text-uppercase">Parenting</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!-- CONTACT SECTION -->

</section>
<section id="contact">
    
</section>
{%endblock%}