{% extends "base.html" %}
{% load static %}


{% block content %}

<main class="flex-shrink-0 main-bg">

    <div class="container mt-5">

        <div class="row text-center">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="mb-3">

                    <div class="col-lg-10 col-md-12">
                        <div class="card-body d-flex justify-content-center">
                            <h5 class="card-title text-white text-center h3 mt-5 text-uppercase">Lifestyle blog posts</h5>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <img class="women-img card-img-top" src="{% static 'media/bckg-1.jpg' %}" alt="modest women">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                <div class="card img-2" style="width: 30rem;">
                    <img class="card-img-top img-responsive" src="{% static 'media/bckg-2.jpg' %}" alt="">
                    <div class="card-body">
                        <p class="text text-white text-center h5 p-4">Here you will find posts about skincare, food,
                            fitness,
                            parenting, home organization, modest fashion, about
                            how to make a daily routine and be more productive, about
                            books I have read and recommend them for your personal growth and about gardening.</p>
                    </div>
                    <div class="card-body">
                        <a href='conclusion' class="read-more card-link btn btn-outline-light py-3 px-5 my-3">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}